@import "tailwindcss";

@theme {
    --color-primary: #0ea5e9;
    --color-primary-dark: #0284c7;
    --color-bg-dark: #0f172a;
    --color-bg-card: #1e293b;

    --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
    body {
        @apply bg-bg-dark text-slate-50 font-jakarta antialiased overflow-hidden;
    }
}

@utility glass {
    background-color: color-mix(in srgb, var(--color-bg-card) 70%, transparent);
    backdrop-filter: blur(24px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@utility scrollbar-hide {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@utility marker-pulse {
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        border: 2px solid var(--color-primary);
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        opacity: 0.75;
    }
}

.custom-popup .mapboxgl-popup-content {
    @apply !bg-bg-dark/90 !backdrop-blur-xl !border !border-white/10 !rounded-2xl !p-2 !shadow-2xl;
}

.custom-popup .mapboxgl-popup-tip {
    @apply !border-t-bg-dark/90;
}